@font-face {
    font-family: "Lexend";
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Lexend-Regular.ttf");
}

@font-face {
    font-family: "Lexend";
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Lexend-Bold.ttf");
}